<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<style>

body{
font-family:Arial;
background:#f5f6fa;
text-align:center;
padding-top:120px;
}

.card{
background:white;
padding:40px;
width:400px;
margin:auto;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

a{
display:inline-block;
margin-top:20px;
background:#ff4757;
color:white;
padding:10px 20px;
border-radius:5px;
text-decoration:none;
}

</style>

</head>

<body>

<div class="card">

<h1>Welcome to Dashboard 🎉</h1>

<p>You are successfully logged in.</p>

<a href="/logout">Logout</a>

</div>

</body>
</html>